doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/jquery-ui.css', rel='stylesheet')
    script(src='/javascripts/jquery-1.12.4.js')
    script(src='/javascripts/jquery-ui-1.12.1/jquery-ui.js')
    script(src='/javascripts/script.js')
    title {title}

  body(id="exp")
    #wrapper
      #header
        #header-right
          a(href='/')
            img(src="/images/cloud-logo.svg")
        #header-left
          h1  Data Loss Prevention(DLP)

      #status
      #main
            br
            br
            span
            span.label access_token:
            input#accessToken.inputBox(type='text', name='accessToken', value=topic)
            br
            input(type='submit', value='Send!', id='send-button')
            textarea#dlpMessage(name='dlpMessage') Sample PubSub Message!
            #dlpresponse
