doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/script.js')
    title From: Test #{container}
  body
    #wrapper
      #header
        #header-right
          img(src="/images/cloud-logo.svg")
        #header-left
          h1=title
          h2 Test Test: #{container}

      #main
        #action
          div#status
        #menu
          ul

            li
              a(href="#health").health Get Health

            li
              a(href="#kill").kill Kill Container
            li
              a(href="/spannerPage").spanner Cloud Spanner
            li
              a(href="/dialogflow").dialogflow Dialogflow
            li
              a(href="/db").db DB
          br
        #body
          div
          img(src="/images/nyc-image.jpg")
          div
            a(href="https://github.com/bkauf/gcpdemo") Source on Github
