body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("../images/whale-long.svg");
  background-repeat: no-repeat;
  background-position: center 270px; */
  background-color:#fff;
}
a {
  color: #00B7FF;
}
h2 {
border:2px dotted #33E1FF;
padding: 10px;

}


#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 675px;
}
#header{width:100%}
#header-left{
  width: 350px;
  margin: 0px;
  padding: 0px;
}
#header-right{
  float:right;
  width: 300px;
  text-align: right;
}
#status{
  color: #000;
  width: 100%;
}
#main{width: 100%;}
#main-images{
margin-left: auto;
margin-right: auto;
text-align: center;
}
#menu{
  /*width:33%;*/
  margin-left: 0;
}
#menu ul li, #body ul li{
  list-style-type: none;
  float: left;
  padding-left: 15px;
  display: inline-block;
}
#menu ul, #body ul{
  text-align: center;
}

#action{
  width:100px;
  float:right;
}
#body{
  width: 100%;
  min-width: 100%;
  margin-top: 15px;
}
#pubsubMessage{
  width:750px;
  height: 200px;
  position: relative;
  background-color:black;
  color: #fff;
  padding: 10px;
}
#agentMessage, #userMessage{
  width:300px;
  height: 50px;
  position: relative;
  color: #fff;
  padding: 10px;
}
#dbconsole{
  width: 600px;
  height: 150px;
  color: #fff;
}

#userMessage, #dbconsole{
  background-color:black;
}

input#send-button,#chat-button,#query-button,.button, .inputBox {
    color:#08233e;
    margin: 10px;
    border: 1px solid blue;
    font-size:20px;
    margin-left: 0px;

}
#querytime{
  width: 40px;
}
.blue{
  color: blue;
}
