apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patchesStrategicMerge:
- custom-env.yaml

images:
- name: bkauf/gcpdemo
  newName: bkauf/gcpdemo
  newTag: "333"
  
resources:
- ../../base
